:root {
    --white-color           : #f9f9f9;
    --black-color           : #303030;
    --brown-light-color     : #cfb995;
    --white-two-color       : #ffffff;
    --grey-color            : #b2b2b2;
    --rose-color            : #ff5b5b;
    --weird-green-color     : #57e690;
    --pastel-orange-color   : #ff915b;
    --light-blue-color      : #57dbe6;
    --brown-color           : #d0ba93;
    --pale-orange-color     : #ffbe5b;
    --kiwi-green-color      : #8fe360;
    --light-gold-color      : #ffdf5b;
    --grey-dark-color       : #5e5e5e;
}