@import "colors.css";
/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

/* ROOT FONT STYLES */


* {
    font-family: Montserrat;
    color: #333447;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../Montserrat/Montserrat-SemiBold.ttf');
  letter-spacing: 0;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../Montserrat/Montserrat-Regular.ttf');
  size: 48px;
  align-items: center;
  line-height: 72px;
  letter-spacing: 0;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../Montserrat/Montserrat-Medium.ttf');
  line-height: 1.5;
}



.layout {
 /* width: 1366px; */
  height: 100%;

  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
}

#subnavitem {
  background-color: transparent;
}

#gridList {
  margin-top: 20px;
}

.header { grid-area: header; }
.main { grid-area: main; }
.footer { 
  grid-area: footer; 
  background-image: url('../assets_Homework_Front-End_01/bitmap_2.png');
  opacity: 0.8;
  background-position: center;
  height: 7rem;
}

.container {
  padding-left: .75rem;
  padding-right: .75rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

@media (min-width: 1280px) {
  .main-padding {
    padding-top: 102px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 2.25rem;
  }
}


/*    SPACING    */

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: .25rem !important;
}

.m-2 {
  margin: .5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: .25rem !important;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: .25rem !important;
}

.mr-2 {
  margin-right: .5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: .25rem !important;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: .25rem !important;
}

.ml-2 {
  margin-left: .5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.ml-6 {
  margin-left: 6.5rem;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: .25rem !important;
}

.p-2 {
  padding: .5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: .25rem !important;
}

.pt-2 {
  padding-top: .5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pt-8 {
  padding-top: 2rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: .25rem !important;
}

.pr-2 {
  padding-right: .5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: .25rem !important;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: .25rem !important;
}

.pl-2 {
  padding-left: .5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.pl-6{
  padding-left: 6.5rem;
}


.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.vertical-middle {
  vertical-align: middle;
}

.justify-space-between {
  justify-content: space-between;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

/* ------------- */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.crossed {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 20px;
}

.h3 {
  font-size: 18px;
}

.h4 {
  font-size: 16px;
}

.h5 {
  font-size: 14px;
}

.h6 {
  font-size: 12px;
}

.height-100 {
  min-height: 100vh;
}

.uppercase {
  text-transform: uppercase;
}


.btn-md {
  padding: 15px 31px;
  cursor: pointer;;
}

.btn-lg {
  padding: 20px 31px;
}

.btn-icon {
  height: 12px;
  margin-right: 5px;
}


.vertical-align-bottom {
  vertical-align: bottom;
}

.vertical-align-top {
  vertical-align: top;
}

.btn {
  font-family: 'Nunito';
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  width: inherit;
  height: 100%;
}

.btn-flat {
  background-color: transparent;
  font-size: 14px;
  color: #E94E1B;
}

.btn.disabled, .btn:disabled {
  opacity: .65;
}

.badge {
  border-radius: 4px;
  font-size: 14px;
}

.badge-lg {
  padding: 9px 15px;
  font-weight: 600;
}

.badge-md {
  padding: 5px 9px;
  font-weight: 700;
}

.badge-sm {
  padding: 3px 5px;
  font-weight: 700;
}

.bloc-border {
  border: 1px solid #EDEDED;
  border-radius: 4px;
  padding: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.flex {
    display: flex;
}

.block {
    display: block;
}


/* BUTTONS */

.red-btn {
    background-color: var(--rose-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.orange-btn {
    background-color: var(--pastel-orange-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.warning-btn {
    background-color: var(--pale-orange-color );
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.gold-btn {
    background-color: var(--light-gold-color );
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.green-kiwi-btn {
    background-color: var(--kiwi-green-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Montserrat;
}

.green-btn {
    background-color: var(--weird-green-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: Montserrat;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.blue-btn {
    background-color: var(--light-blue-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Montserrat;
}

.normal-btn {
    background-color: var(--white-color);
    border: 1px solid var(--brown-light-color);
    border-radius: 1px;
    color: var(--brown-light-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-family: Montserrat;
}


.so-funktionierts {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white-two-color);
}

.so-funktionierts:hover{
  color: var(--brown-light-color);
  font-weight: 700;
}

.bg-dark-grey {
  background-color: var(--grey-dark-color);
}

.h-10 {
  height: 10px;
}

.h-full {
  height: 100% !important;
}

.w-full {
  width: 100% !important;
}

.h-auto {
  height: auto;
}

.w-auto {
  width: auto;
}

.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}


.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}



/* The subnavigation menu */
.subnav {
  float: right;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: var(--brown-color );
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: var(--white-color);
  width: 200px;
  z-index: 1;
  margin-left: -25px;
  margin-right: 10%;

  
  padding: 14px;
  right: -24px;
  top: 122%;
  margin-left: -25px;
  border-radius: 2px;
}


.subnav-content a {
  float: left;
  font-size: small;
  font-weight: initial;
  color: var(--grey-dark-color);
  text-decoration: none;

  
  border-bottom: 1px solid var(--grey-dark-color);
  width: 100%;
  text-align: left;
  padding: 8px 0;
}

.subnav-content a:last-child {
  border-bottom:none
}

.subnav-content li:hover {
  background-color: var(--white-color);
  color: var(--brown-color );
}

.subnavbtn:hover .subnav-content {
  display: block;
  float: right;
}


.secondary-text{
  color: var(--brown-color);
}

.title-block {
  color: var(--brown-light-color);
  font-size: xx-large;
}

.banner-block{
  background-image: url('../assets_Homework_Front-End_01/bitmap.png');
  min-height: 15em;
  max-height: 300px;
}

.white-text {
  color: var(--white-color);
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
  margin: 10px auto;
  align-items: stretch;
  height: 250px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-header {
  padding: 20px;
  display: flex;
  flex-direction: initial;
  align-items: center;
}
.card-body {
  align-self: center;
  padding: 0;
  font-size: 2rem;
  height: 100%;
  font-size: small;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 4em;
  overflow-y: auto;
  margin-right: 4em;
  max-width: 600px;
  width: 100%;
}
.card-footer {
  padding: 10px;
}

.label {
  color: white;
  padding: 4px 4px;
  margin: 6px 0px;
  border-radius: 18px;  
  font-size: small;
  font-weight: 700;
  width: fit-content;
}

.float-right{
  float: right;
}
.float-left{
  float: left;
}

.search-input{
  width: 350px;
  height: 29px;
  color: var(--white-two-color);
  border: 1px solid var(--white-two-color);
  background: none;
  position: relative;
  background-image: url('../assets_Homework_Front-End_01/search-copy.png');
  background-position: right 10px center;
  background-size: 15px;
  background-repeat: no-repeat;
}

.search-input:focus {
  background-color: var(--white-two-color);
  color: var(--grey-dark-color);
}

.search-result-container {
  width: 350px;
  max-height: 250px;
  background-color: var(--white-two-color);
  color: var(--grey-dark-color);
  position: relative;
  margin-top: 8px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 50;
}

.search-result {
  display: flex;
  border-bottom: 0.5px ridge  var(--grey-dark-color);
  width: 100%; 
  padding: 10px;
  font-size: small;
  cursor: pointer;
}

.search-container {
  text-align: -webkit-center;
}

/* Backgrouds */

.bg-primary{
  background-color: var(--light-blue-color);
}

.bg-red {
  background-color: var(--rose-color);
}
.bg-orange {
  background-color: var(--pastel-orange-color);
}
.bg-warning {
  background-color: var(--pale-orange-color);
}
.bg-green {
  background-color: var(--weird-green-color);
}
.bg-green-kiwi {
  background-color: var(--kiwi-green-color);
}
.bg-blue {
  background-color: var(--light-blue-color);
}
.bg-gold {
  background-color: var(--light-gold-color);
}

.text-align-left {
  text-align: -webkit-left;
}

.text-align-right {
  text-align: -webkit-right;
}

.btn-like {
  border-radius: 45%;
  background-color: var(--weird-green-color);
  height: 40px;
  border: none;
  width: 40px;
  opacity: 0.8;
  cursor: pointer;
}

.btn-dislike {
  border-radius: 45%;
  background-color: var(--rose-color);
  height: 40px;
  border: none;
  width: 40px;
  opacity: 0.8;
  cursor: pointer;
}

.btn-like:hover, .btn-dislike:hover {
  opacity: 1;
}
.count-likes {
  color: var(--weird-green-color);
  margin-top: 5px;
}

.count-dislikes {
  color: var(--rose-color);
  margin-top: 5px;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
  justify-items: center;
}

.card-btn {
  border-radius: 1px;
  color: var(--brown-light-color);
  padding-top: 7px;
  padding-bottom: 7px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  height: fit-content;
  width: fit-content;
  opacity: 0.8;
  cursor: pointer;
}
.card-btn:hover {
  opacity: 1;
}

.flex-end {
  align-self: flex-end;
}
.text-warning {
  color: var(--pale-orange-color);
  font-weight: 600;
}

li {
  display: block;
  padding-bottom: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 3px;
}

.single-card-title {
  color: var(--brown-light-color);
  font-size: xx-large;
  font-weight: 800;
}

.polygon {
  width: 46px;
  height: 51px;
  border-radius: 91px 214px 70px 141px;
  background-color: var(--black-color);
  transform: rotate(-269deg);
}

.rotate-arrow {
  transform: rotate(92deg);
}



.d-inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}
.mob{
  display: none;
}



@media all and (min-width:671px){


  .hr-card-single {
    width: 20%;
    height: 0.5px;
    bottom: 0;
    margin-top: 27px;
    background-color: var(--brown-light-color);
  }

  .idx-class {
    color: var(--brown-light-color);
    font-size: medium;
    font-weight: 600;
    bottom: 0;
    margin-top: 15px;
  }
  .margin-textos-footer{
    margin-left: 6.5rem;
  }

  .hidden-desk{
    display: none;
  }

}
@media all and (max-width:670px){
  .hr-card-single {
    width: 20%;
    height: 0.5px;
    bottom: 0;
    margin-top: 27px;
    background-color: var(--brown-light-color);
  }

  .idx-class {
    color: var(--brown-light-color);
    font-size: small;
    font-weight: 600;
    bottom: 0;
    margin-top: 15px;
    display: flex;
    margin-left: auto;
    width: 70px;
  }
  .margin-textos-footer{
    margin-left: 2.5rem;
  }
}




.navigation {
  height: 38px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: var(--grey-dark-color);
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.navigation-menu {
  margin-left: auto;
  margin-right: 10%;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  color: var(--white-two-color);
  display: block;
  width: 100%;
  padding: 20px !important;
}

.navigation-menu li a:hover {
  background-color: var(--brown-color);
  color: var(--white-two-color);
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--pastel-orange-color);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: var(--pale-orange-color);
}

.desk {
  display: block;
}



@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  ul div {
    display: none;
  }

  .mob{
    display: block;
  }
    
  .desk {
    display: none;
  }
  .navigation-menu ul {
    position: absolute;
    top: 45px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: var(--white-two-color);
    z-index: 50;
  }


  
  .navigation-menu li {
    text-align: left;
    margin-left: 7%;
    display: flex;
  }
  .navigation-menu li a {
    color: var(--black-color);
    font-weight: 700;
    width: 100%;
    padding: 1.5rem 0;
    float: left;
    margin-left: auto;
    left: 0;
  }
  .subnavbtn img {
    display: none;
  }
  .hidden-desk {
    display: inline-flex;
    margin: auto;
  }
  
  .subnav-content ul {
    position: absolute;
    top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: var(--white-two-color);
    z-index: 50;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu.expanded ul {
    display: block;
  }
}

.fill-white {
  fill: var(--white-two-color);
}

.top-273 {
  top: 273px !important;
}

.left-10 {
  left: 10% !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

.popup-arow {
  margin-top: -17px;
    float: right;
    margin-right: 0px;
}

.text-danger {
  color: var(--rose-color);
  font-weight: 600;
}

.text-info {
  color: var(--light-blue-color);
  font-weight: 600;
}

