@import "colors.css";
/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* ROOT FONT STYLES */


* {
    font-family: 'Montserrat';
    src: url('../assets/Montserrat/Montserrat-Black.ttf'); /* Safari, Android, iOS */
    color: #333447;
    line-height: 1.5;
}

.montserrat-SemiBold {
    font-family: 'Montserrat-SemiBold';
    src: url('../assets/Montserrat/Montserrat-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    size: 15px;
    letter-spacing: 0;
}

.montserrat-Regular {
    font-family: 'Montserrat-Regular';
    src: url('../assets/Montserrat/Montserrat-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    size: 48px;
    align-items: center;
    line-height: 72px;
    letter-spacing: 0;
}


/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.flex {
    display: flex;
}

.block {
    display: block;
}


/* BUTTONS */

.red-btn {
    background-color: var(--rose-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.orange-btn {
    background-color: var(--pastel-orange-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.warning-btn {
    background-color: var(--pale-orange-color );
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.gold-btn {
    background-color: var(--light-gold-color );
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.green-kiwi-btn {
    background-color: var(--kiwi-green-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.green-btn {
    background-color: var(--weird-green-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.blue-btn {
    background-color: var(--light-blue-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.normal-btn {
    background-color: var(--white-color);
    border: 2px var(--brown-light-color);
    color: var(--brown-light-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}